In [1]:
# Dependencies
import pandas as pd
from datetime import datetime,date
import numpy as np

In [2]:
# O'hare weather dataframe - Documentation available at https://openweathermap.org/history#historybulk
# Temepratures are measured in Farenheit

# Data file path to weather
file = "Sources\history_bulk.csv"

# Read our weather data into pandas
df = pd.read_csv(file)


df.columns  # Check name of columns
# df.dtypes # Check column data type

Index(['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'feels_like', 'temp_min', 'temp_max', 'pressure', 'sea_level',
       'grnd_level', 'humidity', 'wind_speed', 'wind_deg', 'rain_1h',
       'rain_3h', 'snow_1h', 'snow_3h', 'clouds_all', 'weather_id',
       'weather_main', 'weather_description', 'weather_icon'],
      dtype='object')

In [3]:
# Create weather dataframe
weather_df=pd.DataFrame([])


# Create O'hare weather dataframe 
weather_df['Date']=df['dt_iso']
#-----------Format object to datetime--------------------------
weather_df['Date']=weather_df['Date'].str.slice(0, -18) # Remove trailing characters from datetime object
weather_df['Date'] = pd.to_datetime(weather_df['Date'], errors='coerce') # convert object to datetime
# Format to mm-dd-yy
weather_df['Date'] =  weather_df["Date"].dt.strftime("%m/%d/%y") 
#--------------------------------------------------------------- 
weather_df['Temp']=df['temp']
weather_df['Temp Min']=df['temp_min']
weather_df['Temp Max']=df['temp_max']
weather_df['Pressure']=df['pressure']
weather_df['Humidity']=df['humidity']
weather_df['Wind Speed']=df['wind_speed']
weather_df['Clouds']=df['clouds_all']
weather_df['Weather Condition']=df['weather_main'] # Main weather condition
weather_df['Weather Descr']=df['weather_description'] # Main weather condition description

weather_df

,Date,Temp,Temp Min,Temp Max,Pressure,Humidity,Wind Speed,Clouds,Weather Condition,Weather Descr
0,01/01/17,31.44,30.20,33.80,1011,60,11.41,20,Clouds,few clouds
1,01/01/17,29.93,28.04,32.00,1012,69,6.91,1,Clear,sky is clear
2,01/01/17,28.38,26.60,30.38,1012,74,4.61,1,Clear,sky is clear
3,01/01/17,27.55,26.06,30.20,1013,74,5.75,1,Clear,sky is clear
4,01/01/17,27.05,26.06,28.63,1014,74,6.91,1,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...
28048,12/31/19,26.87,26.01,28.40,1006,73,10.29,90,Clouds,overcast clouds
28049,12/31/19,26.91,26.01,28.99,1006,73,16.11,90,Clouds,overcast clouds
28050,12/31/19,26.85,26.01,28.80,1007,73,14.99,90,Clouds,overcast clouds
28051,12/31/19,27.09,26.01,28.99,1007,73,17.22,90,Clouds,overcast clouds
28052,12/31/19,27.27,26.01,28.99,1007,73,9.17,90,Clouds,overcast clouds

In [4]:
# Create weather_data df
weather_data=pd.DataFrame(weather_df, columns =['Date','Temp','Temp Min','Temp Max','Pressure','Humidity','Wind Speed',
                                       'Clouds'])
# Sort Date
weather_data.sort_values(by='Date', ascending=False)


# Daily averages, min and max
temp_avg = weather_data.groupby('Date')['Temp'].mean()
temp_min = weather_data.groupby('Date')['Temp Min'].min()
temp_max = weather_data.groupby('Date')['Temp Max'].max()
pressure_avg = weather_data.groupby('Date')['Pressure'].mean()
humidity_avg = weather_data.groupby('Date')['Humidity'].mean()
wind_avg = weather_data.groupby('Date')['Wind Speed'].mean()
clouds_avg = weather_data.groupby('Date')['Clouds'].mean()


# #Summar Weather Table
summary_weather_df = pd.DataFrame({  
                                     "Avg Temp": round(temp_avg,2), # Daily temperature average - FarenheitS  
                                     "Temp Min": temp_min,  # Daily minimum temperature - Farenheit 
                                     "Temp Max": temp_max,  # Daily maximum temperature - Farenheit 
                                     "Pressure":round(pressure_avg,2), # Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa
                                     "Humidity %": round(humidity_avg),  # Humidity %
                                     "Wind Speed":round(wind_avg,2),   # Wind speed meter/sec.
                                     "Clouds %": round(clouds_avg,2),    # Cloudiness %
                                
                                 })

summary_weather_df

,Avg Temp,Temp Min,Temp Max,Pressure,Humidity %,Wind Speed,Clouds %
Date,,,,,,,
01/01/17,28.11,17.60,39.92,1017.33,72.0,6.04,13.54
01/01/18,-1.19,-9.41,10.40,1038.62,59.0,11.98,12.25
01/01/19,31.90,25.00,39.20,1015.61,92.0,10.31,90.00
01/02/17,34.45,23.00,40.46,1018.96,81.0,6.36,60.89
01/02/18,-1.96,-11.96,10.94,1036.00,63.0,9.17,14.67
...,...,...,...,...,...,...,...
12/30/18,26.52,17.60,37.99,1017.30,77.0,11.47,55.74
12/30/19,38.03,28.00,55.00,996.23,85.0,13.54,90.00
12/31/17,4.39,-3.93,14.19,1032.79,60.0,10.31,62.29
12/31/18,35.62,30.00,39.99,1006.53,92.0,8.73,84.41
12/31/19,26.69,23.00,31.33,1001.53,79.0,17.78,90.33

In [5]:
# Create dataframe to hold unique dates
d=weather_df.groupby(['Date']).groups.keys()
date_column_df = pd.DataFrame(d)
date_column_df.columns  =["Date"]

# Merged daily summary with unique date to create a date dataframe
merged_weather_df = pd.merge(date_column_df, summary_weather_df, on="Date", how="left")

merged_weather_df

,Date,Avg Temp,Temp Min,Temp Max,Pressure,Humidity %,Wind Speed,Clouds %
0,01/01/17,28.11,17.60,39.92,1017.33,72.0,6.04,13.54
1,01/01/18,-1.19,-9.41,10.40,1038.62,59.0,11.98,12.25
2,01/01/19,31.90,25.00,39.20,1015.61,92.0,10.31,90.00
3,01/02/17,34.45,23.00,40.46,1018.96,81.0,6.36,60.89
4,01/02/18,-1.96,-11.96,10.94,1036.00,63.0,9.17,14.67
...,...,...,...,...,...,...,...,...
1090,12/30/18,26.52,17.60,37.99,1017.30,77.0,11.47,55.74
1091,12/30/19,38.03,28.00,55.00,996.23,85.0,13.54,90.00
1092,12/31/17,4.39,-3.93,14.19,1032.79,60.0,10.31,62.29
1093,12/31/18,35.62,30.00,39.99,1006.53,92.0,8.73,84.41
1094,12/31/19,26.69,23.00,31.33,1001.53,79.0,17.78,90.33

In [6]:
#========================== Create dataframe to flag daily weather conditions (Starts here)==============================

# Create temporary df to hold different weather conditions
temp = pd.DataFrame(weather_df)  
# Find each condition
temp["Clouds"]=(weather_df["Weather Condition"]=="Clouds")
temp["Drizzle"]=(weather_df["Weather Condition"]=="Drizzle")
temp["Fog"]=(weather_df["Weather Condition"]=="Fog")
temp["Mist"]=(weather_df["Weather Condition"]=="Mist")
temp["Rain"]=(weather_df["Weather Condition"]=="Rain")
temp["Snow"]=(weather_df["Weather Condition"]=="Snow")
temp["Thunderstorm"]=(weather_df["Weather Condition"]=="Thunderstorm")

# Convert True to 1 and False to 0
temp.Clouds = temp.Clouds.astype(int)
temp.Drizzle = temp.Drizzle.astype(int)
temp.Fog = temp.Fog.astype(int)
temp.Mist = temp.Mist.astype(int)
temp.Rain = temp.Rain.astype(int)
temp.Snow = temp.Snow.astype(int)
temp.Thunderstorm = temp.Thunderstorm.astype(int)

# Group condition by date, sum
t_cloud = temp.groupby('Date')['Clouds'].sum()
t_drizzle = temp.groupby('Date')['Drizzle'].sum()
t_fog = temp.groupby('Date')['Fog'].sum()
t_mist = temp.groupby('Date')['Mist'].sum()
t_rain = temp.groupby('Date')['Rain'].sum()
t_snow = temp.groupby('Date')['Snow'].sum()
t_thunderstorm = temp.groupby('Date')['Thunderstorm'].sum()


# Create dataframe to hold group and condition sum
t_df = pd.DataFrame({  'Clouds': t_cloud,
                       'Drizzle': t_drizzle,
                        'Fog': t_fog,
                        'Mist': t_mist, 
                        'Rain': t_rain,
                        'Snow': t_snow,
                         'Thunderstorm': t_thunderstorm
                    })


# t_df.head()

In [7]:
#Create another df for condition comparison 
t2df=pd.DataFrame(columns=["Clouds","Drizzle","Fog","Mist","Rain","Snow","Thunderstorm"])

# if the sum of each condition is greater than zero, condition flagged in t2df
t2df["Clouds"]=(t_df["Clouds"]>0)
t2df.Clouds = t2df.Clouds.astype(int)

t2df["Drizzle"]=(t_df["Drizzle"]>0)
t2df.Drizzle = t2df.Drizzle.astype(int)

t2df["Fog"]=(t_df["Fog"]>0)
t2df.Fog = t2df.Fog.astype(int)
                                   
t2df["Mist"]=(t_df["Mist"]>0)
t2df.Mist = t2df.Mist.astype(int)
 
t2df["Rain"]=(t_df["Rain"]>0)
t2df.Rain = t2df.Rain.astype(int)

t2df["Snow"]=(t_df["Snow"]>0)
t2df.Snow = t2df.Snow.astype(int)
 
t2df["Thunderstorm"]=(t_df["Thunderstorm"]>0)
t2df.Thunderstorm = t2df.Thunderstorm.astype(int)

t2df=t2df[["Drizzle","Fog","Mist","Rain","Snow","Thunderstorm","Clouds"]]


#========================== Create dataframe to flag daily weather conditions (Ends here)==============================

In [8]:
# Merged t2df(weather conditions) with merged_weather_df(avg temp, temp min, temp max..)
final_weather_df = pd.merge(merged_weather_df,t2df, on="Date", how="left")
final_weather_df['Date'] = final_weather_df['Date'].astype('datetime64[ns]') #Formate date object to datetime

final_weather_df.head()

,Date,Avg Temp,Temp Min,Temp Max,Pressure,Humidity %,Wind Speed,Clouds %,Drizzle,Fog,Mist,Rain,Snow,Thunderstorm,Clouds
0,2017-01-01,28.11,17.60,39.92,1017.33,72.0,6.04,13.54,0,0,0,0,0,0,1
1,2018-01-01,-1.19,-9.41,10.40,1038.62,59.0,11.98,12.25,0,0,0,0,0,0,1
2,2019-01-01,31.90,25.00,39.20,1015.61,92.0,10.31,90.00,0,0,1,1,1,0,1
3,2017-01-02,34.45,23.00,40.46,1018.96,81.0,6.36,60.89,1,0,1,1,0,0,1
4,2018-01-02,-1.96,-11.96,10.94,1036.00,63.0,9.17,14.67,0,0,0,0,0,0,1

In [9]:
# Data file path to flights 
flights_file = "Sources\Flights.csv"

# Read our flights dat into pandas
flights_data = pd.read_csv(flights_file)

flights_data.columns
#flights_df.head()

Index(['Carrier Code', 'Date', 'Flight Number', 'Tail Number',
       'Destination Airport', 'Scheduled departure time',
       'Actual departure time', 'Actual elapsed time (Minutes)',
       'Departure delay (Minutes)', 'Delay Carrier (Minutes)',
       'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)',
       'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)',
       'Unnamed: 14'],
      dtype='object')

In [10]:
#-----------Flights Data Frame----------------------------------------------------
flights_df=pd.DataFrame([])

flights_df['Carrier Code']= flights_data['Carrier Code']
#-----------------------------Format flights date object to datetime (start)----------------------------
flights_df['Date'] = flights_data['Date'].astype('datetime64[ns]')
#-----------------------------Format flight date object to datetime (end)----------------
flights_df['Flight Number']= flights_data['Flight Number']
flights_df['Tail Number']= flights_data['Tail Number']
flights_df['Dest Airport']= flights_data['Destination Airport']
flights_df['Scheduled departure time']= flights_data['Scheduled departure time']
flights_df['Actual departure time']= flights_data['Actual departure time']
flights_df['Actual elapsed time (Minutes)']= flights_data['Actual elapsed time (Minutes)']
flights_df['Departure delay (Minutes)']= flights_data['Departure delay (Minutes)']
flights_df['Delay Carrier (Minutes)']= flights_data['Delay Carrier (Minutes)']
flights_df['Delay Weather (Minutes)']= flights_data['Delay Weather (Minutes)']
flights_df['Delay National Aviation System (Minutes)']= flights_data['Delay National Aviation System (Minutes)']
flights_df['Delay Security (Minutes)']= flights_data['Delay Security (Minutes)']
flights_df['Delay Late Aircraft Arrival (Minutes)']= flights_data['Delay Late Aircraft Arrival (Minutes)']

# flights_df
# flights_df.dtypes
final_weather_df.dtypes

Date            datetime64[ns]
Avg Temp               float64
Temp Min               float64
Temp Max               float64
Pressure               float64
Humidity %             float64
Wind Speed             float64
Clouds %               float64
Drizzle                  int32
Fog                      int32
Mist                     int32
Rain                     int32
Snow                     int32
Thunderstorm             int32
Clouds                   int32
dtype: object

In [11]:
# Merge weather and flights data frame
master_df = pd.merge(flights_df, final_weather_df, on="Date")
master_df.head()

,Carrier Code,Date,Flight Number,Tail Number,Dest Airport,Scheduled departure time,Actual departure time,Actual elapsed time (Minutes),Departure delay (Minutes),Delay Carrier (Minutes),...,Humidity %,Wind Speed,Clouds %,Drizzle,Fog,Mist,Rain,Snow,Thunderstorm,Clouds
0,AA,2017-01-01,2201,N439AA,STL,21:50,21:45,66,0,0,...,72.0,6.04,13.54,0,0,0,0,0,0,1
1,AA,2017-01-01,2474,N4YNAA,MSP,21:50,23:21,73,91,7,...,72.0,6.04,13.54,0,0,0,0,0,0,1
2,AA,2017-01-01,2619,N867AA,LAX,21:50,21:45,269,0,0,...,72.0,6.04,13.54,0,0,0,0,0,0,1
3,AA,2017-01-01,437,N982AA,PHL,20:40,20:36,107,0,0,...,72.0,6.04,13.54,0,0,0,0,0,0,1
4,AA,2017-01-01,348,N3NLAA,LGA,20:35,20:33,109,0,0,...,72.0,6.04,13.54,0,0,0,0,0,0,1

In [12]:
master_df.dtypes

Carrier Code                                        object
Date                                        datetime64[ns]
Flight Number                                        int64
Tail Number                                         object
Dest Airport                                        object
Scheduled departure time                            object
Actual departure time                               object
Actual elapsed time (Minutes)                        int64
Departure delay (Minutes)                            int64
Delay Carrier (Minutes)                              int64
Delay Weather (Minutes)                              int64
Delay National Aviation System (Minutes)             int64
Delay Security (Minutes)                             int64
Delay Late Aircraft Arrival (Minutes)                int64
Avg Temp                                           float64
Temp Min                                           float64
Temp Max                                           float64
Pressure                                           float64
Humidity %                                         float64
Wind Speed                                         float64
Clouds %                                           float64
Drizzle                                              int32
Fog                                                  int32
Mist                                                 int32
Rain                                                 int32
Snow                                                 int32
Thunderstorm                                         int32
Clouds                                               int32
dtype: object